{% extends 'ps-base.html' %}

{% block content %}
<div class="app-wrapper">
  <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
      <a href="{{ url_for('home') }}" class="brand-link">
        <i class="bi bi-wallet2 brand-image opacity-75" style="font-size: 2rem;"></i>
        <span class="brand-text fw-light">PySpendless</span>
      </a>
    </div>
    <div class="sidebar-wrapper">
      <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="navigation" aria-label="Main navigation" data-accordion="false" id="navigation">
          <li class="nav-item">
            <a href="{{ url_for('home') }}" class="nav-link">
              <i class="nav-icon bi bi-house-door"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('create') }}" class="nav-link">
              <i class="nav-icon bi bi-plus-circle"></i>
              <p>Crea Movimento</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('movements') }}" class="nav-link">
              <i class="nav-icon bi bi-list-ul"></i>
              <p>Visualizza Movimenti</p>
            </a>
          </li>
          <li class="nav-item mt-3">
            <a href="{{ url_for('logout') }}" class="nav-link text-danger">
              <i class="nav-icon bi bi-box-arrow-right"></i>
              <p>Logout</p>
            </a>
          </li>
        </ul>
        <!--end::Sidebar Menu-->
      </nav>
    </div>
  </aside>
  <main class="app-main">
    {% block nav_content %}{% endblock %}
  </main>
</div>
{% endblock %}
